*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
:root{
    --colorTextos: #7e7e7e;
    --colorBoton: #f69229;
    --colorFondoTextos: #e2e9ff;
    --paddingSecciones: 60px 0;
    --marginElementos: 40px;
}
body{
    font-family: 'montserrat';
    background: linear-gradient(180deg, rgba(25,28,50,1) 25%, rgba(70,77,126,1) 100%);
}
/* .menu-nav{
    text-align: right;
    padding: 0;
} */

 .MenuNavegacion{
    display: flex;
    justify-content: space-between;
    padding-top: 2em;
    align-items: center;
   
}
.logo{
    height: inherit;
    /* height: 100px; */
    width: 150px;
    margin-left: 1em;
}
.Enlaces{
display: flex;
width: 40%;
justify-content: space-around;
list-style: none;
text-decoration: none;
}
.Enlaces a{
    font-size: 25px;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    color: aliceblue;
}
.Enlaces a:hover{
background-color: aqua;
color: black;
transition: ease-in .2s;
}
.LandingPage{
    display: flex;
    /* padding: 0 2em; */
    align-items: center;
    /* justify-content: space-around; */
    height: 650px;
    overflow: hidden;
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    justify-content: center;
}
.contenedor-textos{
    text-align: center;
    width: 40%;
}

/* .contenedor{
    display:flex ;
    justify-content: space-around;
    height: 650px;
    align-items: center;
    overflow: hidden;
    #1B1934
} */
.contenedor-textos  h1{
    font-size: 60px;
    color: aliceblue;
}
.contenedor-textos p{
    margin: 15px 0 30px 0;
    font-size: 18px;
    color: white;
}
.ilustracionesLandingPage{
    width: 30%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
}
.ilustracionesLandingPage :nth-child(1){
    width: 90%;
}
.forma{
    position: absolute;
    z-index: -1;
    right: 0;
    width: 90%;
}
.Redes{
    margin: 0 auto;
    display: grid;
}
.Redes i{
font-size: 60px;
color:aqua;
}
.Redes i:hover{
    color: #464d7e;
    transition: ease-in .2s;
    }
    .accion{
        display: inline-block;
        background: steelblue;
        padding: 15px 0;
        width: 150px;
        color: #fff;
        border-radius: 10px;
        text-decoration: none;
    }
    .accion:hover{
        background: #1B1934;
        transition: ease-in .2s;  
    }
    .ContainerTrabajos{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding-bottom: 2em;
    }
    .tituloPortafolio{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 2em;
    }
   .tituloPortafolio h2{
    color: #fff;
    font-size: 30px;
   }
    .ContainerTrabajos img{
        display: block;
        object-fit: cover;
        width: 552px;
        height:552px;
        box-shadow: 0 0 10px rgba(0, 0, 0, .5);
        border-radius: 10px;
    }
    .ContainerTrabajos img:hover{
     background: #1B1934;
    }

    .ContainerTrabajos .proyecto{
        position: relative;
        height: fit-content;
        margin: 10px;
        /* cursor: pointer; */
    }
    .ContainerTrabajos .proyecto img{
        width: 100%;
        display: block;
    }
 .ContainerTrabajos .proyecto .overlay{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        background: linear-gradient(rgba(25, 28, 50, 0.9), rgba(70, 77, 126, 0.9));
        /* rgba(25,28,50,1) 25%, rgba(70,77,126,1) */
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: 0.5s;
        font-size: 18px;
        letter-spacing: 3px;
        opacity: 0;
    }
    
.ContainerTrabajos .proyecto .overlay h3{
    margin-bottom: 20px;
    transition: 0.5s;
    color: #fff;
    padding-bottom: 1em;
}
.ContainerTrabajos .proyecto .overlay p{
    color: #fff;
}

.ContainerTrabajos .proyecto .overlay:hover{
    opacity: 1;
}
.ContainerTrabajos .proyecto .overlay:hover h3{
    margin-bottom: 0px;
}
.form-register{
    width: 400px;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    box-shadow: 7px 13px 37px #000;
}
textarea{
    resize: none;
}

.form-register h4{
    font-size: 22px;
    margin-bottom: 20px;
}
.controls{
    width: 100%;
    background: #34094d;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #784e91;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    color: white;
}
.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    
}
.form-register a {
color: white;
text-decoration: none;
}
.form-register .botons {
width: 100%;
background: #784e91;
border: none;
padding: 12px;
color: white;
margin: 16px 0;
font-size: 16px;
}
.Tecnologias{
    text-align: center;
    padding-top: 2em auto;
}
.Tecnologias h1{
    color:white;
    text-align: center;
}
.Tecnologia{
    padding-top: 2em;
}
.Tecnologia img {
    /* transition: filter 0.3s ease;
    filter: drop-shadow(0 0 10px white); */
  }
  
  .Tecnologia img:hover{
    /* transition: filter 0.3s ease;
    filter: drop-shadow(0 0 10px 5px rgba(255, 255, 255, 0.5)); */
    transition: filter 0.3s ease;
    filter: drop-shadow(0 0 10px white);
  }

  .Experiencia1{
    padding-top: var(--marginElementos);
    display: block;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.Experiencia1 img{
    width: 25em;
    height: 25em;
}
.servicio1Acerca{
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}
.servicio1Acerca h3{
    font-size: 20px;
    height: 10em;
    background-size: cover;
    background-position: center;
    color: #fff;
    padding-top: 90px;
    display: flex;
}
.servicio2Acerca{
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}
.servicio2Acerca h3{
    font-size: 20px;
    height: 10em;
    background-size: cover;
    background-position: center;
    color: #fff;
    padding-top: 90px;
    display: flex;
}
.servicio3Acerca{
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}
.servicio3Acerca h3{
    font-size: 20px;
    height: 10em;
    background-size: cover;
    background-position: center;
    color: #fff;
    padding-top: 90px;
    display: flex;
}
.servicios{
    padding-top: var(--marginElementos);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.servicio1{
    font-size: 20px;
    width: 10em;
    height: 10em;
    background-image: url(img/Facebook.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.servicio2{
    font-size: 20px;
    width: 10em;
    height: 10em;
    background-image: url(img/Instagram.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.servicio3{
    font-size: 20px;
    width: 10em;
    height: 10em;
    background-image: url(img/Twitter.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.contenedor1{
    width: 90%;
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: var(--paddingSecciones);
}
.contenedor1 p{
    width: 90%;
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.titulo-seccion{
    text-align: center;
    font-size: 35px;
    color: var(--colorFondoTextos);
    margin: 20px 0;
}